<!DOCTYPE html>
<html>
     <head>
           <meta charset="utf-8">
           <title>京东信息集成</title>
           <link rel="stylesheet" type="text/css" href="../static/assets/css/login.css">
           <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
            <!-- Favicons -->
             <link href="../static/assets/img/favicon.ico" rel="icon">

     </head>
     <body>
            <div class="login">
                 <h1>LOGIN</h1>
                <!-- 注册登录跳转 -->
                 <div class="links">
                       <a href="{{ url_for('login') }}" class="active">LOGIN</a>
                       <a href="{{ url_for('register') }}">REGISTER</a>
                 </div>
                <!-- 登录表单 -->
                 <form action="" method="post">
                       <label for="username">
                             <i class="fa fa-user"></i>
                       </label>
                       <input type="text" name="username" placeholder="Username" id="username" required>
                       <label for="password">
                             <i class="fa fa-lock"></i>
                       </label>
                       <input type="password" name="password" placeholder="Password" id="password" required>
                       <div class="msg">{{ msg }}</div>
                       <input type="submit" value="Login">
                 </form>
            </div>
     </body>

</html>
